
/********** phần style chung*********/
*{
	box-sizing: border-box;
	-moz-box-sizing:border-box;
	-webkit-box-sizing:border-box;
}
body{
	width: 1000px;
	height: 100%;
	margin: auto;
	font-size: 18px;
	background: url(../IMG/bg1.jpg) repeat-y;
}
ul, li{
	list-style-type: none;
}
ul{padding: 0;}
a{
	text-decoration: none;
}
img{
	vertical-align: middle;
}

/********** phần style wrapper*********/
#wrapper{background-color: white;}
.clear{clear: both;}
		/****** phần style header*****/
#header{
	margin-top: 2px;
	position: relative;
	height: 340px;
}
.banner img{
	position: absolute;
	width: 998px;
	height: 340px;
}
.logo{
	width: 101px;
	height: 80px;
	background-color: white;
	overflow: hidden;
	position: absolute;
	border-radius: 10%;
}
.logo img{
	animation: anima3 10s 1s infinite; 
	width: 101px;
	height: 75px;
}
@keyframes anima3{
	0%{transform: skew(0,0deg);}
	25%{transform: skew(0,15deg);}
	50%{transform: skew(0,0);}
	75%{transform: skew(0,-15deg);}
	100%{transform: skew(0,0);}
}
		/****** phần style main-menu*****/
#main-menu{margin: 1px 0 0 1px}
#main-menu ul{
	background-image: url(../IMG/background2.jpg) ;
	margin: 0px;
	padding: 0;
}
#main-menu ul li{
	float: left;
	padding: 0 15px 0 15px;
	border-right: 2px solid white;
	position: relative;
	border-radius: 10%;
}
#main-menu ul li a{transition: all 0.5s ease;}
#main-menu ul li:hover a{
	transform: translate(0,-5px);
}
#main-menu ul li:hover{
	background-color:#5f5f5f;
	box-shadow: 0 5px 5px 0 rgba(0, 0, 0, 1);
}
#main-menu ul li:hover .sub-menu{
	display: block;
}
#main-menu ul #df{
	padding: 0 44px 0 44px;
}
#main-menu ul li:nth-child(7){
	padding: 0 22px 0 20px;
}
#main-menu ul li a{
	display: block;
	color: white;
	padding: 10px 0 10px 0;
	font-size: 20px;
}
.sub-menu{
	background: url(../IMG/background2.jpg);
	display: none; 
	position: absolute;
	width: 185px;
	top: 47px;
	left: 0;
	z-index: 3;
}
#main-menu .sub-menu li a{
	width: 154px;
}
#main-menu .sub-menu li{
	border-right:none;
	border-bottom: 2px solid white;
	text-align: center;}



		/****** phần style content*****/

#ad{
	position: relative;
	margin-top: 12px;
	margin-bottom: 77px;
	width: 788px;
	height: 150px;
}
#bg{
	border-top-left-radius : 15%;
	border-top-right-radius : 15%;
	width: 789px;
	height: 210px;
}
#icon-rotate1{
	position: absolute;
	height: 215px;
	top: 26px;
	left: 275px;
	z-index: 2;
	animation: anima4 5s linear infinite;
}
@keyframes anima4 {
	from{
		transform: rotateZ(0deg);
	}
	to{
		transform: rotateZ(360deg);
	}
}
#icon-rotate2{
	position: absolute;
	height: 200px;
	top: 29px;
	left: 279px;
	z-index: 1;
}



#slogan{
	position: absolute;
	top: -15px;
	left: 59px;
}
#slogan .word{
	font-style: italic;
	color: white;
	opacity: 0.5;
	display: inline-block;
	animation: anima2 8s linear infinite;
}
#slogan .word:nth-child(1){
	animation-delay: 3s;
}
#slogan .word:nth-child(2){
	animation-delay: 4s;
}
#slogan .word:nth-child(3){
	animation-delay: 5s;
}
#slogan .word:nth-child(4){
	animation-delay: 6s;
}
#slogan .word:nth-child(5){
	animation-delay: 7s;
}
#slogan .word:nth-child(6){
	animation-delay: 8s;
}
#slogan .word:nth-child(7){
	animation-delay: 9s;
}
@keyframes anima2{
	0% {transform: scale(1);}
	15% {transform: scale(1.18);}
	35% {transform: scale(1);}
	100% {transform: scale(1); }
	}

h1{
	font-size: 1.5em;
	padding: 5px 0 0 350px;
	background: url(../IMG/bgh1.png) repeat-x;
	color: white;
	border-radius : 15% ;
}
.first h1{padding: 5px 0 0 306px;}
.second h1{padding: 5px 0 0 306px;}
.third h1{padding: 5px 0 0 298px;}
.fourth h1{padding: 5px 0 0 323px;}
.fifth h1{padding: 5px 0 0 246px;}

		/*****Content-left***********/
#content-left ul li img{
	max-width: 208px;
	padding: 5px 0 5px 0;
	border-bottom: 1px dotted black;
	transition: all 1s linear;
}
#content #content-left ul{
	width: 21%;
	height: 100%;
	position: relative;
	z-index: 2;
	float: left;
}
#content-left ul{margin: 0}
#content-left ul .item{
	overflow: hidden;
}
#content-left ul .item:hover img{
	transform: scale(1.5);
}

		/*****Content-Right***********/

#content #content-right{
	width: 79%;
	height: 100%;
	float: right;
}
#content-right #ad{
	position: relative;
	margin-top: 1px;
}


.row{
	margin-bottom: 10px;
}
.row .item{
	float: left;
	margin-right: 10px;
	max-width: 32%;
	border: 1px solid #4d88ff;
	overflow: hidden;
}
.item img{
	transition: all 1s linear;
}
.row .item:hover img{
	transform: scale(1.2);
}
.row .item:nth-child(1){margin-left: 10px;}
.row .item:nth-child(3){margin-right: 0;}
.row .item img{
	width: 246px;
	height: 180px;
}
.row .item h2{
	font-size: 1.1em;
	text-align: center;
	display: block;
	margin: 20px 0 5px 0;
}
.tieude{position: relative;}
.tieude img{
	position: absolute;
	top: 0.5px;
	left: 371px;
	height: 38px;
	animation: anima1 7s infinite linear;
}
@keyframes anima1 {
    from {
        transform: rotateY(0);
    }
    to   {
        transform: rotateY(360deg);
    }
}

#sale{position: relative;}
#sale img{width: 350px;position: relative;}
#sale img:nth-child(1){top: -78px;left: 6px}
#sale img:nth-child(2){top: 16px;left: 68px}
#sale img:nth-child(3){top: -148px;left: 4px}
#sale img:nth-child(4){top: -59px;left: 67px}

		/****** phần style footer*****/
#footer{
	width: 100%;
	background: url(../IMG/background2.jpg);
}
#footer p{
	color: white;
	font-weight: bold;
	margin: 0;
	padding: 0;
}
#footer .ft1{
	padding: 7px 0 0 15px;
	float: left;
}
#footer .ft2{
	padding: 7px 15px 10px 0px;
	float: right;
}

/****** phần style child-page*****/
.content-section h2{
	color: #2c493c;
	margin-left: 20px;}
.section-left{
	width: 350px;
	margin: 0 5px 0 10px;
	float: left;
}
.section-left p{
	font-style: italic;
	color: #2c493c;
	font-size: 20px;
	padding-top: 0px;
	text-align: justify;
}
.section-right{
	float: right;
	width: 415px;
	margin-top: 15px;
}
.section-right img{
	max-width: 414px;
}
.back-home{
	position: fixed;
	right: 2px;
	bottom: 2px;
}
.back-home img{width: 50px}