*{
	box-sizing: border-box;
	-moz-box-sizing:border-box;
	-webkit-box-sizing:border-box;
}
body{
	width: 1000px;
	height: 100%;
	margin: auto;
	border: 1px solid black;
	font-size: 18px;
	background: url(../IMG/bg1.jpg) repeat-y;
}
.wrapper{background-color: white;}
ul, li{
	list-style-type: none;
}
ul{padding: 0;}
a{
	text-decoration: none;
}
img{
	vertical-align: middle;
}
.clear{clear: both;}
.header{
	position: relative;
	height: 340px;
}
.banner img{
	position: absolute;
	width: 998px;
	height: 340px;
}
.logo img{
	position: absolute;left: 0;top:1px;
	width: 101px;
	background-color: white;
	border-radius: 5%;
}
.menu{
	background: url(../IMG/background2.jpg) repeat-x;
	margin: 0px;
	padding: 0;
}
.menu li{
	float: left;
	padding: 0 12px 0 12px;
	border-right: 1px solid black;
}
.menu li:nth-child(1){
	padding: 0 2.5px 0 3.5px;
}
.menu li:nth-child(2){
	padding-left: 17px;
}
.menu li:nth-child(7){
	padding-right: 0px;
	border-right: none;
}
.menu a{
	display: block;
	color: white;
	padding: 10px 0 10px 0;
	font-size: 20px;
}

h1{
	font-size: 1.5em;
	border-top: 1px dotted #4d88ff;
	border-bottom: 1px dotted #4d88ff;
	padding: 5px 0 0 350px;
	background: url(../IMG/bgh1.png) repeat-x;
	color: white;
}
.first h1{padding: 5px 0 0 306px;}
.second h1{padding: 5px 0 0 306px;}
.third h1{padding: 5px 0 0 298px;}
.fourth h1{padding: 5px 0 0 323px;}
.fifth h1{padding: 5px 0 0 246px;}

.content .content-left{
	width: 21%;
	height: 100%;
	float: left;
}
.content .content-right{
	width: 79%;
	height: 100%;
	float: right;
}
.content-left li img{
	max-width: 208px;
	padding: 5px 0 5px 0;
	border-bottom: 1px dotted black;
}
.row{
	margin-bottom: 10px;
}
.row .item{
	float: left;
	margin-right: 10px;
	max-width: 32%;
	border: 1px solid #4d88ff;
	overflow: hidden;
}
.item img{
	transition: all 1s linear;
}
.row .item:hover img{
	transform: scale(1.2);
}
.row .item:nth-child(1){margin-left: 10px;}
.row .item:nth-child(3){margin-right: 0;}
.row .item img{
	width: 246px;
	height: 180px;
}
.row .item h2{
	font-size: 1.1em;
	text-align: center;
	display: block;
	margin: 20px 0 5px 0;
}
.tieude{position: relative;}
.tieude img{
	position: absolute;
	top: 0.5px;
	left: 371px;
	height: 38px;
	animation: anima1 7s infinite linear;
}
@keyframes anima1 {
    from {
        transform: rotateY(0);
    }
    to   {
        transform: rotateY(360deg);
    }


