body{
        font-size: 18px;
        margin: 30px 120px 0 120px;
        text-align: justify;
      }
      #tieungu, h1{
        text-align: center;
      }
      #noidung{
        text-indent: 30px;
      }
      #footer{
        text-align: right;
      }
      #footer .last{
        padding-right: 60px;
      }