<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <title>DEMO ReactJs</title>
        <script src="libraries/react.js"></script>
        <script src="libraries/react-dom.js"></script>
        <script src="libraries/babel.min.js"></script>
    </head>
    <body>
        <div id="root"></div>     <!--nơi lưu nội dung React render ra-->
        <script src="vd2.js" type="text/babel">

        </script>
    </body>
</html>
