*{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
	font-family: Arial;
}

a{
	text-decoration: none;
	color: black;
}
img{
	vertical-align: top;
}
ol, ul{
	list-style: none;
}
/* Phan khung*/
#container{
	width: 1020px;
	height: 2000px;
	margin: auto;

}
#header{
	padding-top: 20px;
	padding-left: 100px;
	padding-bottom:20px;
	border-bottom:1px solid #bfbfbf;
}
#gNav{
	padding: 11px 0 11px 0;
	border-bottom: 1px solid #bfbfbf;
}
#gNav ul li{
	display: inline;
	padding: 12px 15px 12px 15px;
	font-size: 90%;
	font-weight: bold;
}
#gNav ul li:hover{
	background-color: #e6e6e6;

}

#AdSlide img{
	width: 100%;
	padding-top: 5px;
}
#content{
	margin-top: 15px;
}
#content #Lcontent{
	float: left;
	width:228px;
	height: 100%;

}
#partner img{
	width: 228px;
	height: 150px;
	border-top: 1px solid #bfbfbf;
}
#content #Rcontent{
	float: right;
	width:778px;
	height: 100%;
}
#content {
    zoom: 1;
}
#content:after {
    clear: both;
    content: ".";
    display: block;
    height: 0;
    line-height: 0;
    visibility: hidden;
}
#listsp{
	background-color: #99b3ff;
}
.tieude{
	color: white;
	padding: 7px 0 7px 20px;
	background-color: #3333ff;
}

#listsp ul li{
	padding: 7px 0 7px 10px;
	border-bottom: 1px solid white;
	font-size: 95%;
}
#listsp ul li:hover{
	background-color: #ff6600;
}
#Support{
	background-color: #99b3ff;
}
#Support p{
	padding: 7px 0 7px 15px;
}
#Rcontent .product{
	border: 1px solid #bfbfbf;
	font-size: 95%;
	margin-bottom: 10px;
}
#Rcontent .product .Newproduct{
	width: 192px;
	float: left;
	padding: 20px 0 20px 15px;
	font-size: 85%;
	text-align: center;
}
.product {
    zoom: 1;
}
.product:after {
    clear: both;
    content: ".";
    display: block;
    height: 0;
    line-height: 0;
    visibility: hidden;
}
.product .Newproduct img{
	height: 120px;
	padding-bottom: 30px;
}
.product .Newproduct a{
	font-weight: bold;
}
.product .Newproduct .first{
	padding-top: 20px;
}
.product .Newproduct a:hover{
	color: #ff0000;
}

#footer{
	margin-top:20px;
	padding: 11px 0 11px 0;
	border-bottom: 1px solid #bfbfbf;
	border-top: 1px solid #bfbfbf;
}
#footer ul li{
	display: inline;
	padding: 12px 15px 12px 15px;
	font-size: 90%;
	font-weight: bold;
}
#footer ul li:hover{
	background-color: #e6e6e6;

}