#menu a img {display: none;}
#footer {background:none}
.footer {padding-left:10px;}
#wrapper, body {background: #fff;font-family: Arial,Verdana, Helvetica, sans-serif;}
#menu-bottom {margin-top: 0px; background:#073e5c;  border-top: 3px solid #073e5c; border-bottom: 2px solid #005d89;background: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#073e5c), to(#005d89));background: -webkit-linear-gradient(top, #073e5c,#005d89);background: -moz-linear-gradient(top, #073e5c,#005d89);background: -ms-linear-gradient(top,#073e5c,#005d89);background: -o-linear-gradient(top, #073e5c,#005d89);display:none;}
.box-head{background:#2887cb!important; webkit-border-radius:0px 0px 0px 0px; moz-border-radius: 2px 2px 0px 0px; border-radius: 0px 0px 0px 0px; background: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#1b3955), to(#005d89)); background: -webkit-linear-gradient(top, #1b3955,#005d89); background: -moz-linear-gradient(top, #1b3955,#005d89); background: -ms-linear-gradient(top,#1b3955,#005d89); background: -o-linear-gradient(top, #1b3955,#005d89);}
#left-menu li ul {border: 1px solid #fdf5f5;background: #fce4e4;margin-left: 222px;margin-top: -41px;}
#left-menu.menu {border: 0;background:#CFF3FF;margin:0;border-radius: 0;}
#left-menu.menu {border-bottom:1px solid #fdf5f5; border-radius: 0;}
.box-body {border: 1px solid #F3F0F0;}
#left-menu li a:link, #left-menu li a:visited {border-bottom: 1px solid #fdf5f5;}
#col-mid .pro-item {border: 0;padding: 15px;width: 152px;margin: 0;border-left: none; border-bottom: none; padding-left: 20px;text-align: center;}
#search-box {background: #f4f3ef;display:none;}
#menu_mid li {background: none;border-right: 0px dotted #5a5656;height: 35px;line-height: 35px;}
#menu {/*background-color: #183d58; background: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#183d58), to(#005d89)); background: -webkit-linear-gradient(top, #183d58,#005d89); background: -moz-linear-gradient(top,#183d58,#005d89); background: -ms-linear-gradient(top,#183d58,#005d89); background: -o-linear-gradient(top,#183d58, #005d89);*/
/*border-top: 2px solid #b1b1aa;border-bottom: 2px solid #99bed1;background: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#183d58), to(#005d89));*/background: none;}
#col-mid .box-body .div_img {border: 0;}
.cart-box .total {padding: 25px 0;}
.news-item {padding-bottom: 8px;border-bottom: 1px solid #fff; }
#left-menu li a:link, #left-menu li a:visited {padding: 10px 0 10px 20px;color:#000;font-weight: bold;}
#left-menu li a:hover {color: #c2127c;}
#left-menu li.icon {background: url(images/bg_list.gif) no-repeat 95% center;}
#col-mid .box-body .div_img{background:#fff;width: 190px;}
#col-mid .div_img img {max-width: 178px;max-height: 248px;padding: 10px 0 3px 0;}
#menu_mid a:link, #menu_mid a:visited{font-weight:bold;color:#000;padding: 2px 37px 0 0;font-family: arial;font-size: 13.4px;}
.box-head{font-weight: bold;color: #fff;text-align: left;padding-left: 10px;margin-top: 8px;}
.box-head h1 a, .box-head h2 a, .box-head a{font-weight: bold;color:#fff;}
#col-mid .box-body{border-radius: 0;padding:10px;background: #fff;margin-bottom: 10px; border: 1px solid #F3F0F0;}
.menu-bottom li li a{color:#fff;}
.menu-bottom h3{color:#fff;}
.social a{color:#fff;}
.pro-item a, .news-item a {color: #000;font-size: 11.5px;}
h3, h3 a {font-weight: bold;color:#000;}
.gia {font-weight: normal;color:#c2127c }
#content {background: none;}
#content {margin-top: 0px;margin-bottom: 0px;}
#content, .menu-bottom, .footer {width: 1002px;}
#col-left {padding-left: 1px;width: 222px;}
#col-right {padding-right: 1px;width: 189px;}
#col-mid1  .top2 {width: 226px; float:right;}
#col-mid1  .top2 .box-head {display:none;}
#col-mid1 .top1 {width: 1000px; float:left;}
#header .cart2 {width: 150px; float:right;}
#col-mid1 .top2 .box-body {margin: 0px 0;border: 0;padding: 0;}
#col-mid {float: left;width: 770px;margin: 0 0 0 9px;}
#col-mid .pro-item img {width: 146px;height: 160px;padding: 10px 0 3px 0;}
#col-mid .box-head {padding-left: 12px;background: #2887cb !important;}
#menu, #search-box, #menu-bottom, #footer {width: 1000px;margin: 0 auto;}
#news .box-head{background: #df0303 !important;}
#pro .box-head{background: #2887cb !important;}
#pro .pro-item{width: 214px;text-align: center;}
#pro .pro-item img {width: 200px; margin: 0 6px 6px;}
#pro .pro-item a {text-align:center;}
#qc .box-head {background:#2887cb !important;}
#col-left .box-body img {max-width: 214px;}
#menu12 {width: 1002px;margin: 0 auto;border-top: 1px solid #ccc;height: 43px;border-bottom: 1px solid #ccc;}
#menu12 #menu,#menu12 .menu_mid {width: 700px !important;min-width: 700px;float:left;}
#menu12 .sear {width: 229px; heigth: 40px;float:right;}
.banner1 {width: 1000px; margin: 0 auto;}
.banner {width: 350px !important;float:left; padding-top: 17px;padding-bottom: 17px;}
.cart1 {width: 200px; float:right;padding-top: 17px;}
.cart1 .box-head {display:none;}
.cart1 .box-body {background: none;border: 0;}
.cart1 .box-body p a {color: #000000;}
.search {width: 223px;margin-top:10px;border: 1px solid #E2E2E2;}
.cart-box {margin: 0 auto;float: right;width: 261px;}
.cart-box tr td a{float:left;}
.pro-view {width: 187px;margin: 0;border: 0px solid #ccc;margin-bottom: 15px;}
.cart-list {width: 100%;}
.cart-list th, .cart-list td {border: 1px solid #ccc;}
.prodetailright {float: left;}
.proname h1,.Tag {padding-left: 7px;}
#col-mid .pro-top {border-top: none; border-right:0px solid #F3F0F0;text-align: center;padding-bottom: 35px;}
#col-mid .pro-last{border-right:none}
#menu_mid li a:hover, #menu_mid li:hover > a, #menu_mid li.active > a {color: #FF0000;}
.box-head a:hover {color: #fff;}
.NavLink a {color: #000;font-weight: normal;}
.protip-title  {padding: 7px 10px;font-weight: bold;border-top-left-radius: 7px;border-top-right-radius: 7px;background: #fce4e4 !important;color: #000!important;}
#divToolTip {border: 1px solid #fce4e4 !important;color:#000!important; }
.protip-title span {color: #c50077;}
.pro-item a:hover, .news-item a:hover {color: #c50077;}
#menu_mid li ul {top: 30px;background: none;border: 0;}
#col-mid1 { width: 1000px;margin: 0 auto;}