@font-face {
	font-family: 'HelveticaNeue';
	src: url('../fonts/helveticaneue.ttf');
	font-weight:normal;
	font-style:normal;
}
@font-face {
	font-family: 'HelveticaNeueBold';
	src: url('../fonts/helveticaneuebold.ttf');
	font-weight:bold;
	font-style:normal;
}



/*---------- Global ----------*/
html {
	overflow-y: auto;
}
body, body .application {
	font-family: 'Roboto', sans-serif;
	font-size: 14px;
	min-height: 100vh;
}
body ul {
	list-style: none;
	padding: 0;
}
body a, body a:hover, body a:focus {
	text-decoration: none;
	color: inherit;
}

/* .home-theme {
	background: url(/o/bo-quocphong-theme/images/main-bg.jpg) right center no-repeat;
	background-size: cover;
} */
.home-theme #wrapper {
	min-height: 100vh;
}
.home-theme #wrapper {
	padding-top: 0;
}
.page-theme #wrapper {
	padding-left: 0;
	padding-right: 0;
}
.container {
	padding: 15px;
}

@media screen and (min-width: 1264px) {
	.container {
		max-width: 1200px;
	}
}

@media screen and (min-width: 1600px) {
  .container {
    max-width: 1600px !important;
  }
}

@media screen and (min-width: 1800px) {
  .container {
    max-width: 1800px !important;
  }
}



/*---------- Header ----------*/
.mBody #banner {
	background: url('../images/bg-header.jpg') right center no-repeat;
	background-size: cover;
	max-width: 100%;
	padding: 0;
}
.mBody #banner .logo-wrapper {
	display: flex;
    justify-content: space-between;
	align-items: center;
}
.mBody #banner .mLogo {
	display: flex;
	align-items: center;
	text-transform: uppercase;
	color: white;
	font-size: 15px;
}
.mBody #banner .mLogo img {
	margin-right: 15px;
}
.mBody #banner .mLogo label {
	font-family: 'Noto Serif', serif;
	font-size: 28px;
	display: block;
	margin-bottom: 2px;
	font-weight: bold;
}
.signed-in .btns, .signed-out #app_login {
	display: none !important;
}
@media screen and (max-width: 1366px) {
	.mBody #banner .logo-wrapper, .mBody .nav-wrapper {
		padding: 0 !important;
	}
}

@media screen and (max-width: 767px) {
	.mBody .btns {
		display: none !important;
	}
}



/*---------- Navbar ----------*/
.mBody .nav-wrapper {
	display: -webkit-box;
	display: flex;
	-webkit-justify-content: space-between;
	justify-content: space-between;
	position: relative;
	border-bottom: 1px solid #dadada;
	z-index: 5;
	background: rgb(6,106,183);
	background: -moz-linear-gradient(left,  rgba(6,106,183,1) 0%, rgba(26,156,141,1) 100%);
	background: -webkit-linear-gradient(left,  rgba(6,106,183,1) 0%,rgba(26,156,141,1) 100%);
	background: linear-gradient(to right,  rgba(6,106,183,1) 0%,rgba(26,156,141,1) 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#066ab7', endColorstr='#1a9c8d',GradientType=1 );
}
.mBody .nav-wrapper .container {
	padding-top: 0;
	padding-bottom: 0;
}
.mBody #navigation .nav-toggle {
	display: none;
	width: 40px;
	text-align: center;
	line-height: 30px;
	border: 1px solid white;
	border-radius: 4px;
	color: white;
	font-size: 20px;
	margin: 10px 0;
}
.mBody #navigation > ul {
	display: -webkit-box;
	display: flex;
	margin-bottom: 0;
}
.mBody #navigation li {
	margin: 0 10px;
}
.mBody #navigation li a {
	display: block;
	padding: 10px 0;
	border-bottom: 5px solid transparent;
	font-weight: bold;
	color: white;
}
.mBody #navigation li.selected a, .mBody #navigation li:hover a {
	border-color: #f5b333;
}
.mBody #navigation .child-menu {
	display: none;
}
.mBody .btns {
	display: flex;
}
.mBody .btns a {
	display: flex;
	align-items: center;
	padding: 10px 12px;
	color: white;
	text-transform: uppercase;
	font-weight: bold;
	border-radius: 8px;
	font-size: 16px;
}
.mBody .btns a img {
	margin-right: 10px;
}
.mBody .btns .register {
	background-color: rgba(255,255,255,0.3);
}
.mBody .btns .login {
	background: rgb(11,153,200);
	background: -moz-linear-gradient(left,  rgba(11,153,200,1) 0%, rgba(28,88,171,1) 100%);
	background: -webkit-linear-gradient(left,  rgba(11,153,200,1) 0%,rgba(28,88,171,1) 100%);
	background: linear-gradient(to right,  rgba(11,153,200,1) 0%,rgba(28,88,171,1) 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#0b99c8', endColorstr='#1c58ab',GradientType=1 );
}
.mBody .btns > a:hover {
	background-color: #1c57ab !important;
}
.mBody .btns a:first-child {
	margin-right: 15px;
}
.mBody #navigation .custom-link {
	display: none;
}

@media screen and (max-width: 991px) {
	.mBody #navigation .nav-toggle {
		display: inline-block;
	}
	.mBody #navigation > ul {
		display: none;
		width: 100%;
		position: absolute;
		background: rgb(6,106,183);
		background: -moz-linear-gradient(left,  rgba(6,106,183,1) 0%, rgba(26,156,141,1) 100%);
		background: -webkit-linear-gradient(left,  rgba(6,106,183,1) 0%,rgba(26,156,141,1) 100%);
		background: linear-gradient(to right,  rgba(6,106,183,1) 0%,rgba(26,156,141,1) 100%);
		filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#066ab7', endColorstr='#1a9c8d',GradientType=1 );
		left: 0;
		top: 100%;
	}
	.mBody #navigation li a {
		border-radius: 0;
		padding: 10px 15px;
		text-transform: uppercase;
	}		
	.mBody .nav-wrapper .btns {
		display: none;
	}
	.mBody #navigation .custom-link {
		display: block;
	}
}



/*---------- Footer ----------*/
#footer {
	padding: 10px 0;
	text-align: center;
	color: #444;
	/*New*/
	background-color: #ecf4fc;
	padding: 0;
}
#footer .container {
	border-top: 1px solid #dbe7f3;
	display: -webkit-box;
	display: flex;
	-webkit-justify-content: center;
	justify-content: center;
	font-family: 'Lato', sans-serif;
	-webkit-flex-wrap: wrap;
	flex-wrap: wrap;
	/*New*/
	flex-wrap: nowrap;
	justify-content: space-around;
	border: 0;
	padding: 10px 15px;
}
#footer p {
	margin-bottom: 0;
	/*New*/
	display: flex;
	align-items: center;
}
/*New*/
#footer p img {
	margin-right: 15px;
}
/*End*/
/* #footer .container > p {
	width: 100%;
} */
#footer .contact {
	display: -webkit-box;
	display: flex;
}
#footer .contact .mail {
	margin-left: 60px;
}

@media screen and (max-width: 991px) {
	#footer .container {
		display: block;
		text-align: left;
	}
	#footer p img {
		width: 15px;
	}
}



/*---------- Back To Top ----------*/
body .btt, body .bth {
	position: fixed;
	bottom: 100px;
	right: 30px;
	background-color: #1c57ab;
	width: 42px;
	height: 42px;
	border-radius: 50%;
	text-align: center;
	line-height: 40px;
	display: none;
	color: white;
	font-size: 24px;
	z-index: 9999;
}
body .btt.btt-is-visible, body .bth.btt-is-visible {
	display: block;
}
body .btt:hover, body .bth:hover {
	background-color: #0087b4;
	color: white !important;
}
body .bth {
	right: auto;
	left: 30px;
}