*{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-family: Helvetica Neue, Helvetica, Arial, sans-serif;
	-moz-box-sizing:border-box;
	-webkit-box-sizing:border-box;
}
a{
	display: block;
	text-decoration: none;
	color: white;
	font-size: 1em;
}
img{
	vertical-align: middle;
}
ol, ul{
	list-style: none;
}
.container{
	width: 100%;
}
.banner{
	background-color: green;
	position: relative;
	width: 100%;
	height: 100px;
}
.face{
	font-size: 1.6em;
	position: absolute;
	bottom: -4px;
	right: 5px;
	color: white;
}
.face:hover{cursor: pointer;}
.face2{display: none}
.clear{ clear: both;}
/*********** CSS menu-mobile screen-320 ************/
.sign button{
	border: none;
	background-color: #E74C3C;
	position: absolute;
	margin-top: 1px;
	color: white;
	height: 25px;
	width: 100px;
}
.sign-item:nth-child(1){
	top: 0px;
	right: 102px;
}
.sign-item:nth-child(2){
	top: 0;
	right: 0;
}
.sign-item i{
	font-size: 1.4em;
	padding-right: 5px;
}
.sign-item span{
	font-size: 1.1em;
}
.menu-mobile{
	background-color:#044A84;
	padding: 5px 0 5px 5px;
}
.menu-mobile p{
	text-align: center;
	font-size: 0.7em;
}
.menu-mobile ul{position: relative;}
.item-mobile{
	width: 20%;
	position: relative;
	color: white;
	float: left;
}
.item-mobile:nth-child(5){
	padding-top: 1px;
	padding-right: 0;
	z-index: 2;
}
.item-mobile:nth-child(6){
	height: 30px;
	opacity: 0;
	position: absolute;
	top: 0px;
	left: 87.5%;
	transition: all 1s ease;
	z-index: 1;
}
.item-mobile i{
	margin-bottom: 5px;
	display: block;
	text-align: center;
}
i.fa.fa-bars{
	font-size: 2em;
	position: absolute;
	top: 1px;
	left: 38%;
}
.icon1, .icon2{
	position: absolute;
	width: 28px;
	top: 14px;
	left: 38%;
	border-top: solid 5px white;
	transition: all .5s ease;
} 
.icon3, .icon4 {
	position: absolute;
	top: 14px;
	left: 0;
	border-top: solid 5px white;
	transition: all .5s ease;
}
.icon3{transform: rotateZ(-45deg);}
.icon4{transform: rotateZ(45deg);}
/*********** CSS menu-dropdown ***********/
.menu-dropdown{
	width: 100%;
	position: absolute;
	top: 98px;
	left: 0px;
}
.item-dropdown{
	background-color: #1D9E74;
	padding: 9px 0 9px 0;
	border-bottom: 1px solid white;
	opacity: 0;
	transition: all 30ms linear;
}
.item-dropdown:nth-child(1){transition-delay: 30ms}
.item-dropdown:nth-child(2){transition-delay: 40ms}
.item-dropdown:nth-child(3){transition-delay: 90ms}
.item-dropdown:nth-child(4){transition-delay: 120ms}
.item-dropdown:nth-child(5){transition-delay: 150ms}
.item-dropdown:nth-child(6){transition-delay: 180ms}
.item-dropdown:nth-child(7){transition-delay: 210ms}
.item-dropdown:nth-child(8){transition-delay: 240ms}
.item-dropdown:nth-child(9){transition-delay: 270ms}
.item-dropdown i{
	font-size: 1.2em;
	padding-left: 10px;
	color: #0e211e}
.item-dropdown a{
	display: inline-block;
	position: absolute;
	left: 50px;
	color: #fbf7f7;
}
/*********** CSS menu-mobile screen-600 ************/
@media only screen and (min-width: 600px){
	.menu-dropdown{
		max-width: 40%;
		margin-left: 60%;
	}
}

/*********** CSS menu-mobile screen-1280 ************/

@media only screen and (min-width: 1024px){
	.container{
		max-width: 1000px;
		margin: 0 auto;
	}
	.face{display: none;}
	.face2{
		display: block;
		font-size: 1.6em;
		position: absolute;
		bottom: -4px;
		right: 5px;
		color: white;
	}
	.face2 .text-f {
	    font-size: .7em;
	    display: inline-block;
	    max-width: 0;
	    opacity: 0;
	    visibility: hidden;
	    transition: all .5s linear;
	}
	.face2:hover{cursor: pointer;}
	.face2:hover .text-f {
		max-width: 130px;
		opacity: 1;
		visibility: visible;
		margin-left: .5em;
	}


	.menu-mobile{
		display: none;
	}
	.menu-dropdown{
		display: none;
	}
	.menu-1024{background-color: #044A84;}
	.menu-1024 .item{
		float: left;
		border-right: 1px solid white;
	}
	.menu-1024 .item:hover{
		background-color: #EBD203;
		border-bottom: 2px solid red;
	}
	.menu-1024 .item:hover a{
		transform: translate(0,-4px);
		color: black;
	}
	.menu-1024 .item a{
		padding: 10px 13px 10px 13px;
		transition: all 0.5s ease;
	}
	.menu-1024 .item:nth-child(2){position: relative;}


	.sub-menu{
		width: 166px;
		position: absolute;
		top: 42px;
	}
	.sub-item{
		background-color: #BEE4DF;
		color: white
		opacity: 0;
		transition: all 30ms linear;
	}
	.sub-item:nth-child(1){transition-delay: 30ms}
	.sub-item:nth-child(2){transition-delay: 40ms}
	.sub-item:nth-child(3){transition-delay: 90ms}
	.sub-item:nth-child(4){transition-delay: 120ms}
	.sub-item:hover{
		background-color: #EBD203;
		border-bottom: 2px solid red;
	}
	.sub-menu .sub-item{
		border-top: 1px solid white;
		opacity: 0;
	}
	.item:nth-child(2):hover .sub-item{
		opacity: 1;
	}
	.item:nth-child(8){
 	margin-right: 6px;
 	border-right: none;
	}


	.sign button{
		position: static;
		background-color: #E74C3C;
		margin-top: 1px;
		color: white;
		height: 38px;
		width: 130px;
	}
	.sign button:hover{
		cursor: pointer;
		background-color: #EBD203;
		color: black;
	}
	.sign-item i{
		font-size: 1.3em;
		padding-right: 5px;
	}
	.sign-item span{
		font-size: 1.3em;
	}
	

}