*{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-family: Helvetica Neue Medium, Helvetica, Arial, sans-serif;
	-moz-box-sizing:border-box;
	-webkit-box-sizing:border-box;
}
body{
	width: 100%;
	margin: 0 auto !important;
	background-color: #F4F5F7 !important;
	font-size: 16px !important;
}
a{
	display: block;
	text-decoration: none !important;
	font-size: 1em;
}
img{
	vertical-align: middle;
}
p{margin: 0 !important}
ol, ul{
	list-style: none;
}
.wrapper-container{
		position: relative;
		width: 100%;
		border-top: 2px solid #1D5D6F;
		background-color: #F4F5F7;
}
.container{
	position: relative;
	width: 100% !important;
	padding: 0 !important;
	background-color: white;
}
.icon-nav{
	width: 100%;
	font-size: 18px;
	margin: 10px 0;
	color: #1d2a36;
	padding: 10px 20px;
	background-color: #33cc66;
}
.icon-nav a{
	display: inline-block;
	color: #1d2a36;
}
.icon-nav a:hover{
	color: #d93d05;
}
.back-top img{
	width: 50px;
	position: fixed;
	bottom: 1%;
	right: 0px;
	z-index: 123;
	cursor: pointer;
}
.content{font-size: 0.9em}
.banner{
	margin-top: 0 !important;
	background-image: url(../IMG/banner.jpg);
	background-position: center center;
	height: 150px;
	display: none;
}
.banner-mobile{
	height: 90px;
}
.pagination{
	margin: 20px auto !important;
}
.banner-mobile>img:nth-child(1){
	height: 70px;
	margin-left: 3px;
}
.banner-mobile>img:nth-child(2){
	position: absolute;
	width: 90px;
	top: 72px;
	left: 3px;
}
.form-acc{
	margin-top: 0;
	float: right;
	width: 67%;
	position: relative;
}
.sign-mobile{
	position: relative;
	float: right;
}
.info-acc-mobile{
	font-size: 0.8em;
	display: none;
	float: right;
	width: 225px;
}
.info-acc-mobile>.img-ava>img{
	width: 100%;
	max-height: 60px;
}

.info-acc-mobile>.info-user>button{
	max-width: 80px;
}
.sign-mobile button{
	padding: 0 !important;
	border: none;
	background-color: #E74C3C;
	margin-top: 1px;
	color: white;
	height: 25px;
	width: 100px;
	font-size: 13px !important;
}

.face{
	font-size: 1.6em;
	position: absolute;
	top: 0px;
	right: 5px;
	color: white;
	display: none;
}
.face:hover{cursor: pointer;}
.face2{display: none}
.clear{ clear: both;}
/*********** CSS Form đăng nhập screen-320 ************/

.btn .btn-info .btn-lg{
	top: 0px;
	right: 102px;
}
.btn .btn-info .btn-su{
	top: 0;
	right: 0;
}
#panorama1,#panorama2 {
    width: 100%;
    height: 400px;
}
.btn .btn-info i{
	font-size: 1.4em !important;
	padding-right: 5px;
}
.btn .btn-info span{
	font-size: 1.1em !important;
}
@media only screen and (max-width: 769px){
	#myModal,#myModal2{
		width: 90%;
		margin: 0 auto;
	}
	button.login{
		width: 30%;
		height: 35px;
		border-radius: 5px;
		font-size: 16px;
	}
	.footer{
		margin-top: 20px;
	}
	.wrapper-fcontent{
		padding: 5px;
	}
	#f-content1,#f-content2,.footer-link{
		width: 100% !important;
		margin-bottom: 10px;
	}
	.footer-link {
    margin-left: 0px !important;
	}
}

/*option tab support*/
.tab-pane{
	padding: 10px;
	font-size: 0.9em;
}
/*option tab tin tức*/
.image-new{
	width: 25%;
	height: 145px;
	float: left;
}
div.wrap-content > div > div > div:nth-child(2) > div > a > p
.image-new img{
	width: 100%;
	height: 145px;
}
#news > div > div > a > p{
	font-size: 18px;
	margin-top: 10px !important;
	text-align: justify;
}
#new-item > div > div.article-content > p{
	margin: 0 0 10px !important;
	text-align: justify;
}
.side-bar > div.news > div.icon-s{
	margin-top: 10px;
}
#news > div > div > a > p:hover{
	color: #33CC66;
}
.new{
	width: 75%;
	height: 145px;
	padding-left: 15px;
	float: right;
	position: relative;
}
.btn-new{
	width: 100px;
	position: absolute;
	bottom: 5px;
	right: 5px;
}
.btn-new:hover{
	background-color: red;
	color: #fff;
}
.new-title h4:hover{
	cursor: pointer;
	color: #4CAF50;
}
#new-content-detail h3{
	color: #4CAF50;
	margin-top: 10px;
}
.news-content{
	margin-bottom: 20px;
	border: 1px solid #4CAF50;
	padding: 10px;
}
/*option thông tin sau khi đăng nhập*/
.info-acc{
	display: none;
	background-color: #fff;
	position: absolute;
	right: 0;
	top: 2px;
	width: 25%;
	height: 75px;
}
.img-ava{
	float: left;
	width: 25%;
}
.img-ava img{
	width: 100%;
	height: 75px;
	border-radius: 50%;
}
.info-user{
	padding-left: 5px;
	float: right;
	width: 75%;
}
.info-user button{
	color: white;
	border-radius: 3px;
	margin-top: 3px;
	display: inline-block;
	width: 45%;
}
.info-user button a{color: white;}
.info-user button:hover a{color: black;}
.info-user button:hover{
	cursor: pointer;
	color: black;
	background-color: #64a9de;
}
#send{width: 100px;}
#forgot-pass:hover{
	cursor: pointer;
}
#forgot-pass:hover a{color: red;}
/*option thông tin đăng ký thành công*/
.home{
	width: 200px;
	height: 50px;
	color: white;
	border-radius: 7px;
	float: right;
}
.info{
	color: #4CAF50;
}
/*option form thong tin ca nhan Manager*/
#form_thong_tin_ca_nhan{
	border: none;
	padding: 5px;
	position: relative;
}
#update{
	margin-left: 15px;
	width: 150px !important;
}
.avatar{
	position: absolute;
	top: 5%;
	right: 5%;
	display: none;
}
#fileDisplayArea {
  width: 100%;
  height: 200px;
  border: 1px solid black;
}
#fileDisplayArea img{
	width: 300px;
	height: 200px;
}
#st1,#st1-2{
	color: #ED2327
}
#st2,#st2-2{
	color: #4CAF50;
}
#st1:hover,#st2:hover,#st1-2:hover,#st2-2:hover{
	color: black;
}
/********CSS form help*******/
.help-form{
	width: 99%;
	border: 2px solid #4FB748;
	padding: 20px;
	border-radius: 10px;
	text-align: justify;
}
.wrap-content > div >.form-help{
	margin-top:10px; 
	padding: 10px; 
	border: 1px solid #4FB748;
	border-radius: 7px;
}
.wrap-content > div >.form-help>.form-group{
	width: 60%;
}
.wrap-content > div > form > div:nth-child(3){
	width: 99% !important;
}
div.wrap-content > div > form > button{
	width: 10%;
}
.content{border: 2px solid #4FB748;}
/*option form thong tin ca nhan*/

input[type=text], input[type=password], input[type=email] {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    box-sizing: border-box;
}
button {
    background-color: #4CAF50;
    color: white;
    margin: 8px 0;
    border: none;
    cursor: pointer;
    width: 100%;
}
button:hover {
    opacity: 0.8;
}
.cancelbtn {
    width: auto;
    padding: 10px 18px;
    background-color: #f44336;
}
.imgcontainer {
    text-align: center;
    margin: 24px 0 12px 0;
}
.container {
    padding: 16px;
}
span.psw {
    float: right;
    padding-top: 16px;
}

/************* Menu cho mobile*********/
.menu-1024{display: none;}
.menu-mobile{
	background-color:#004824;
	padding: 5px 0 5px 0px;
}
.menu-mobile p{
	text-align: center;
	font-size: 0.7em;
	margin: 0;
}
.menu-mobile ul{
	position: relative;
	margin: 0;
}
.item-mobile{
	width: 29%;
	position: relative;
	color: white;
	float: left;
}
.item-mobile:nth-child(4){
	padding-top: 1px;
	padding-right: 0;
	z-index: 2;
	width: 6% !important;
}
.item-mobile:nth-child(5){
	height: 30px;
	width: 6% !important;
	opacity: 0;
	position: absolute;
	top: 0px;
	left: 90.5%;
	transition: all 1s ease;
	z-index: 1;
}
.item-mobile i{
	margin-bottom: 5px;
	display: block;
	text-align: center;
}
i.fa.fa-bars{
	font-size: 2em;
	position: absolute;
	top: 1px;
	left: 38%;
}
.icon1, .icon2{
	position: absolute;
	width: 28px;
	top: 14px;
	left: 38%;
	border-top: solid 5px white;
	transition: all .5s ease;
} 
.icon3, .icon4 {
	position: absolute;
	top: 14px;
	left: 0;
	border-top: solid 5px white;
	transition: all .5s ease;
}
.icon3{transform: rotateZ(-45deg);}
.icon4{transform: rotateZ(45deg);}
/*********** CSS menu-dropdown mobile ***********/
.menu-dropdown{
	width: 100%;
	max-height: 0;
}
.item-dropdown{
	position: relative;
	background-color: #1D9E74;
	padding: 9px 0 9px 0;
	border-bottom: 1px solid white;
	opacity: 0;
	transition: all 30ms linear;
}
.item-dropdown:nth-child(1){transition-delay: 30ms}
.item-dropdown:nth-child(2){transition-delay: 40ms}
.item-dropdown:nth-child(3){transition-delay: 90ms}
.item-dropdown:nth-child(4){transition-delay: 120ms}
.item-dropdown:nth-child(5){transition-delay: 150ms}
.item-dropdown:nth-child(6){transition-delay: 180ms}
.item-dropdown:nth-child(7){transition-delay: 210ms}
.item-dropdown:nth-child(8){transition-delay: 240ms}
.item-dropdown:nth-child(9){transition-delay: 270ms}
.item-dropdown i{
	font-size: 1.2em;
	padding-left: 10px;
	color: #0e211e}
.item-dropdown a{
	display: inline-block;
	position: absolute;
	left: 50px;
	color: #fbf7f7;
}
/************** Menu university near-by Map********/
#right-panel {
  font-family: 'Roboto','sans-serif';
  line-height: 15px;
  padding-left: 10px;
}
#places{
  font-size: 12px;
}
#right-panel select, #right-panel input {
  font-size: 10px;
}

#right-panel select {
  width: 100%;
}

#right-panel i {
  font-size: 10px;
}
#right-panel {
	font-family: Arial, Helvetica, sans-serif;
	position: absolute;
	right: 5px;
	top: 2%;
	height: 300px;
	width: 23%;
	padding: 5px;
	z-index: 1;
	border: 1px solid #999;
	background: #fff;
}
#right-panel h2 {
	font-size: 18px;
	color: green;
	margin: 0 0 5px 10px;
}
#right-panel .near_by_item{
	font-size: 16px;
	color: green;
}
#right-panel ul {
	list-style-type: none;
	padding: 0;
	margin: 0;
	height: 265px;
	width: 100%;
	overflow-y: scroll;
	overflow-x: scroll;
}
#right-panel li {
  background-color: #f1f1f1;
  padding: 10px;
  text-overflow: ellipsis;
  white-space: nowrap;
}
#right-panel li:nth-child(odd) {
  background-color: #fcfcfc;
}
/*************/
#right-panel2 {
  font-family: 'Roboto','sans-serif';
  line-height: 15px;
  padding-left: 10px;
}
#places2{
  font-size: 12px;
}
#right-panel2 select, #right-panel input {
  font-size: 10px;
}

#right-panel2 select {
  width: 100%;
}

#right-panel2 i {
  font-size: 10px;
}
#right-panel2 {
	font-family: Arial, Helvetica, sans-serif;
	position: absolute;
	right: 5px;
	top: 2%;
	height: 300px;
	width: 23%;
	padding: 5px;
	z-index: 1;
	border: 1px solid #999;
	background: #fff;
}
#right-panel2 h2 {
	font-size: 18px;
	color: green;
	margin: 0 0 5px 10px;
}
#right-panel2 ul {
	list-style-type: none;
	padding: 0;
	margin: 0;
	height: 260px;
	width: 100%;
	overflow-y: scroll;
	overflow-x: scroll;
}
#right-panel2 li {
  background-color: #f1f1f1;
  padding: 10px;
  text-overflow: ellipsis;
  white-space: nowrap;
}
#right-panel2 li:nth-child(odd) {
  background-color: #fcfcfc;
}
/************** Menu tim kiem screen mobile*/
	.search{
		width: 100%;
		background-color: #4FB748;
	}
	.title-side {
	    width: 100%;
	    padding: 8px 0;
	    color: white;
	    background-color: #00914E;
	    text-align: center; 
	    font-size: 22px !important;
	    position: relative;
	    overflow: hidden;
	    margin-bottom: 15px;
	    border-radius: 7px 7px 0 0;
	  }

	.title-side:before{
		content: '';
	    position: absolute;
	    left: 0;
	    top: 0;
	    bottom: 0;
	    border-color: #004824 transparent transparent transparent;
	    border-style: solid;
	    border-width: 40px 30px 0 0;
	}
	.title-side:after{
		content: '';
	    position: absolute;
	    right: 0;
	    border-style: solid;
	    top: 0;
	    bottom: 0;
	    border-width: 0 0 40px 30px;
	    border-color: transparent transparent #004824 transparent;
	}
	.row{
		display: flex;
		flex-direction: column;
		padding-left:14px;
		margin: 0 !important;
	}
	.select{
		width: 90%;
		height: 30px;
		color: black;
		font-size: 1em;
		margin: 0 0 15px 8px;
	}
	.icon-s{
		margin-left: 22px;
		padding: 8px;
		display: inline-block;
		background: linear-gradient(to left, #64a9de 50%,#288AD6 50%);
	    background-size: 200% 100%;
	    transition: background-position 150ms ease;
	    background-position: left bottom;
		color: white;
		margin-bottom: 10px;
		border-radius: 5px;
	}
	.icon-s:hover{
		cursor: pointer;
		color: #cc3300;
		background-position: right top;
	}
	.icon-s i{
		font-size: 1.5em;
		padding-right: 3px;
	}
	.icon-s span{
		font-size: 1.2em;
	}
	.news{
		display: none;
	}
	/*********** CSS Content**********/
	.container-content{
		width: 100%;
	}
	.content{
		width: 100%;
		padding: 5px;
		background-color: white;
		border-radius: 5px;
		margin: 10px 0 10px 0;
	}
	#content-left{
		max-width: 100%;
	}
	/***********Tùy chỉnh slide ảnh*********/
	#myCarousel{
		margin-top: 7px;
	}
	.carousel-indicators{
		margin-bottom: -10px !important;
	}
	.carousel-inner>.item>img {
    	border-radius: 7px !important;
	}
	.carousel-inner>.item>a>img, .carousel-inner>.item>img, .img-responsive, .thumbnail a>img, .thumbnail>img {
	    display: block;
	    max-width: 100%;
	    height: 200px !important;
	}
	/***********Tùy chỉnh slide ảnh*********/
	.image .icon-p{
		background-color: rgba(41,51,57,.75);
		display: none;
		position: absolute;
		border-radius: 50%;
		width: 60px;
		height: 60px;
		padding: 15px 0 0 13px;
		top: 50%;
		left: 50%;
		margin: -25px 0 0 -25px;
	}
	.image i{
		font-size: 2em;
		color: white;
	}
	#content-right{
		max-width: 100%;
		position: relative;
	}
	.content-right1{
		color: #37454D;
	}
	.line{border-bottom: 2px solid #055699}
	.content-right1 .item-cr1{
		text-align: justify;
		margin-bottom: 5px;
	}
	.local, .area{font-weight: bold;color: black;}
	.date{color: red;}
	#content-right .title a{
		color: #288AD6;
		text-align: justify;
		cursor: pointer;
	}
	#content-right .price, .phone{
		color: #66A400;
		text-align: justify;
		margin-bottom: 5px;
	}
	.price-service{display: none;}
	.button-detail{
		border: 1px solid #288AD6;
		border-radius: 3px;
		height: 40px;
		margin-top: 5px;
		cursor: pointer;
		background: linear-gradient(to left, #64a9de 50%,#288AD6 50%);
	    background-size: 200% 100%;
	    transition: background-position 100ms ease;
	    background-position: left bottom;
		color: white;
		font-weight: bold;
	}
	.button-detail:hover{
		background-position: right top;
		color: #cc3300;
	}
	/***** CSS Nội dung xem chi tiết*******/
	
	.menu-detail{
		margin-top: 10px;
		border-top: 1px solid #4fb748;
    	padding-top: 10px;
		position: relative;
	}
	#btn-close{
		width: 80px;
		border-radius: 5px;
	    background-color: #E74C3C;
	    background: linear-gradient(to left, #f7968c 50%,#E74C3C 50%);
	    background-size: 200% 100%;
	    transition: background-position 100ms ease;
	    background-position: left bottom;
	    margin-top: 1px;
	    color: white;
		position: absolute;
		top: 5px;
		right: 0;
	}
	#detail-item2{
		text-indent: 1.5em;
		text-align: justify;
	}
	.tab-content{
		padding-top: 10px;
		border: 1px solid #dddddd;
		border-top: none;}
	#myCarousel2{
		width: 80%;
		margin: 0 auto;
	}
	
/**************Content footer**********************/
	.footer{
		background-color: #F4F5F7;
		position: relative;
		z-index: 2;
	}
	.footer-content{
		width: 100%;
		color: #c1c1c1;
		background-color: #004824;
		font-size: 15px;
		padding-bottom:10px; 
	}
	.footer .top-footer{
		width: 100%;
	}
	.footer .row{
		background-color: transparent !important;
	}
	#f-content1{
		text-align: center;
		float: left;
		padding-top: 5px;
		width: 23%;
		margin-right: 15px;
		margin-bottom: 20px;
	}
	#f-content1 img:nth-child(1){
		width: 70%;
		margin-bottom: 10px;
	}
	#f-content1 img:nth-child(2){
		width: 100%;
	}
	#f-content2{
		float: left;
		text-align: justify;
		width: 40%;
	}
	.footer-link{
		width: 33%;
		margin-left: 20px;
		float: left;
	}
	.row1 img{
		width: 100%;
	}
	.row1 a{
		display: inline-block;
		width: 11%;
		margin-left: 20px;
	}
	.footer-link>.row1{
		margin-left: 20px;
	}
	.row1 img:hover{
		opacity: 0.8;
		cursor: pointer;
	}
	.row2 img{
		margin-top: 10px;
		width: 100%;
	}
	.footer-nav li{
		display: inline-block;
		padding-right: 15px;
	}
	.footer-nav li:hover a{
		color: red;
	}
	.footer-nav li a{
		color: #2196F3;
		font-size: 	18px !important;
	}
	.bot-footer{
		border-top: 1px solid #c1c1c1;
		margin-top: 15px;
		padding-top: 15px;
		text-align: center;
	}
	.bot-footer>p{
		color: #c1c1c1;
	}
/*********** CSS menu-mobile screen-600 ************/
@media only screen and (min-width: 600px){
	.banner{
		display: none;
	}
	.menu-dropdown{
		max-width: 40%;
		margin-left: 60%;
	}
	.wrap-content{
		width: 100%;
		position: relative;
	}
	.menu-mobile p{
	text-align: center;
	font-size: 1em;
	margin: 0;
	}
		/********Css form*********/

.container .form{
	width: 560px !important;
}
	#content-left{
		position: relative;
		max-width: 33%;
		float: left;
	}
	#content-right{
		float: right;
		max-width: 66%;
		position: relative;
	}
	
	.search{
		width: 100%;
		margin-top: 15px;
	}
	.row{
		display: flex;
		flex-direction: row;
	}
	.select{
		width: 22%;
		height: 30px;
		color: black;
		margin-bottom: 15px;
		font-size: 1em;
	}
}
/*********** CSS desktop screen-1024px ************/
@media only screen and (min-width: 1023px){
	.avatar{display: block;}
	.container-content{
		width: 74%;
		float: left;
	}
	.banner-mobile{
		display: none;
	}

	.wrapper-container{
		position: relative;
		margin-top: 480px;
		padding-bottom: 70px;
		width: 100%;
		border-top: 2px solid #1D5D6F;
		background-color: #F4F5F7;
	}
	.icon-nav-fixed{
		margin-top: 110px;
	}
	a{font-size: 0.9em}
	.banner{
		width: 1024px;
		display: block;
		height: 480px;
		position: fixed;
		top:0;
		left: 0;
	}
	.login{width: 540px !important}
	#myModal > div > div > div.modal-body > form > div:nth-child(2) > span{
		width: 160px !important;
	}
	.header-fixed{
		border-bottom: 2px solid #00914E;
		background-color: #fff;
		position: fixed;
		width: 1024px;
		top:0;
		z-index: 3;
	}
	.hmobile-fixed{
		position: fixed;
		top:0;
		left: 0;
	}
	.list-banner{
		width: 94%;
		margin: 0 auto;;
		height: 23em;
		bottom: 55px;
	}
	.list{
		width: 15%;
		height: 10em;
		float: left;
		margin-right: 3%;
		position: relative;
	}
	.list-text:hover{
		cursor: pointer;
	}
	.list-text:active .img-item{
		transform: scale(1.3);
	}
	.list .list-text{
		width: 100%;
	    height: 15em;
	    background-color: rgba(0, 223, 0, 0.6);
	    border-radius: 50%;
	}
	.list-text img{
		width: 70%;
		margin-left: 14%;
		margin-top: 14%;
	}
	.item1 .list-text img{margin-top: 1%;}
	@keyframes rote-img{
		0% {
	    transform: rotateZ(25deg);
		}
		33% {
		    transform: rotateZ(0deg);
		}
		66% {
		    transform: rotateZ(-25deg);
		}
		100% {
		    transform: rotateZ(0deg);
		}
	}
	.list-text:hover .img-item{animation: rote-img 0.5s ease;}
	
	.list-text p {
		text-align: center;
	    padding-left: 3%;
	    margin-top: 20px;
	    font-size: 1.2em;
	    color: rgba(30, 20, 30, 1);;
	}
	.list:nth-child(1) .list-text img{
		width: 50%;
		margin-left: 24%;
	}
	.list:nth-child(1){
		width: 23%;
		height: 20em;
		animation: banner-ani ease 0.8s 0.2s;
	}
	.list:nth-child(1) .list-text{
		width: 100%;
		height: 19em;
		background-color: rgba(249, 250, 87, 0.8);
		border-radius: 50%;
	}
	.list:nth-child(1) .list-text .name{
		font-size: 1em;
	    font-weight: bold;
	    color: #E74C3C;
	}
	.list-text .slogan {
		font-size: 1em;
		text-align: center;
	    padding-left: 7%;
	    width: 90%;
	    color: black;
	}
	.list:nth-child(1) .list-text::after{ 
		border: solid transparent;
	    content: "";
	    border-width: 4.7em;
	    border-top: 6.2em solid rgba(249, 248, 87, 0.8);
	    left: 15.5%;
	    position: absolute;
	    top: 82%;
	}
	.list .list-text::after{
		width: 63%;
	    border: solid transparent;
	    content: "";
	    border-width: 3.2em;
	    border-top: 5em solid rgba(0, 233, 0, 0.5);
	    left: 16%;
	    position: absolute;
	    top: 125%;
	}
	.list:nth-child(2){
		margin-top: 180px;
		animation: banner-ani ease 0.8s 0.6s;
	}
	.list:nth-child(3){
		margin-top: 10px;
		animation: banner-ani ease 0.8s 0.4s;
	}
	.list:nth-child(4){
		margin-top: 170px;
		animation: banner-ani ease 0.8s 1s;
	}
	.list:nth-child(5){
		margin-top: 15px;
		animation: banner-ani ease 0.8s 0.8s;
	}
	
	@keyframes banner-ani{
		0% {
	    opacity: 0;
	    transform: translate(0px,-55px);
		}
		6% {
		    opacity: 0.04;
		    transform: translate(0px,-55px);
		}
		100% {
		    opacity: 1;
		    transform: translate(0px,0px);
		}
	}
	.menu-1024{display: block;}
	.container{
		width: 100% !important;
		margin-left: auto !important;
		margin-right: auto !important;
	}
	.wrap-content{
		width: 100%;
		
	}
	.content{border: 2px solid #4FB748;}
	
	/********* Icon Face **********/
	.face{display: none;}
	.face2{
		display: block;
		padding: 0 3px;
		position: absolute;
		right: 0px;
		border-top-radius: 5px;*/
	}
	.f-icon{
		font-size: 1.8em;
		color: blue;
		float: left;
		}
	.f-share img{
		height: 25px;
		float: left;
	}
	.face2 .f-share {
	    display: inline-block;
	    padding-top: 7px;
	    max-width: 0;
	    opacity: 0;
	    visibility: hidden;
	    transition: all .5s linear;
	}
	.face2:hover .f-share {
		max-width: 69px;
		opacity: 1;
		visibility: visible;
		margin-left: .5em;
	}
	.f-share:hover img{
		cursor: pointer;
		opacity: 0.5;}
	/************* Menu cho desktop*********/
	.menu-mobile{
		display: none;
	}
	.menu-dropdown{
		display: none;
	}
	.menu-1024{
		padding-top: 12px;
		margin: 0;
		background-color: white;
	}
	.menu-1024 .item{
		width: 8.5%;
		height: 100%;
		border-radius: 5px;
		background-color: white;
		margin-right: 2px;
		float: left;
		border-bottom: 2px solid white;
	}
	.main-menu > div.menu-1024 > ul > li:nth-child(4){width: 10.7%}
	.menu-1024 .item:hover{
		cursor: pointer;
	}
	.menu-1024 .item a{
		width: 100%;
		color: #004824;
		text-align: center;
	}
	.menu-1024 .item i{
		width: 100%;
		text-align: center;
		padding-right: 5px;
		font-size: 1.3em;
	}
	.menu-1024 .item:hover{
		background-color: white;
		border-bottom: 2px solid red;
	}
	.menu-1024 .item:hover a{
		transform: translate(0,-4px);
		color: #004824;
	}
	.menu-1024 .item a{
		padding: 7px 5px 7px 5px;
		transition: all 0.5s ease;
	}
	.menu-1024 .item:nth-child(2){position: relative;}
			/*******Sub-menu cho desktop*****/
	.sub-menu{
		width: 170px;
		position: absolute;
		top: 63px;
		display: none;
		z-index: 2;
	}
	.sub-item{
		background-color: #004824;
		color: white
	}
	.sub-item i{
		width: 18px !important;
		font-size: 1em !important;
	}
	.sub-item a{
		text-align: left  !important;
		color: white !important}
	.sub-item:hover{
		background-color: white;
		border-bottom: 2px solid red;
	}
	.sub-item:hover a{
		color: #004824 !important;
	}
	.sub-menu .sub-item{
		border-top: 1px solid white;
		border-radius: 5px;
	}
	.item:nth-child(2):hover .sub-menu{
		display: block;
	}
	.item:nth-child(8){
	 	margin-right: 2px;
	}

		/******** Sign in, Sign out********/
	.sign{
		display: inline-block;
		float: right;
		width: 27%;
	}
	.sign button{
		border: none;
		position: static;
		border-radius: 5px;
		background-color: #E74C3C;
		background: linear-gradient(to left, #f7968c 50%,#E74C3C 50%);
	    background-size: 200% 100%;
	    transition: background-position 100ms ease;
	    background-position: left bottom;
		margin-top: 1px;
		color: white;
		height: 38px;
		width: 47%;
	}
	.sign button:hover{
		cursor: pointer;
		background-position: right top;
		color: black;
	}
	.btn .btn-info i{
		font-size: 1.3em;
		padding-right: 2px;
	}
	.btn .btn-info span{
		font-size: 1.2em;
	}

	/************* Menu search screen desktop *********/
	.side-bar{
		width: 25%;
		float: right;
	}
	.search{
		width: 99%;
		border-radius: 5px;
		margin-left: 5px;
		margin-top: 10px;
		position: relative;
	}
	.row{
		display: flex;
		flex-direction: column;
	}
	.select{
		width: 90%;
	}
	.icon-s{
		padding: 5px;
		bottom: 15px;
		right: 30px;
		margin-bottom: 10px;
    	border-radius: 5px;
	}
	.icon-s i{
		font-size: 1.5em;
		padding-right: 3px;
	}
	.icon-s span{
		font-size: 1.2em;
	}
	.news{
		display: block;
		background-color: #4FB748;
		width: 99%;
		border-radius: 5px;
		margin-left: 5px;
		margin-top: 10px;
		border: 2px solid #4FB748;
		border-top: none;
	}
	.new-item{
		margin-bottom: 2px;
		background-color: #F8F8F8;
		color: black;
		padding: 5px;
		font-size: 0.9em;
		text-align: justify;
		border-bottom: 2px solid white;
	}
	.new-item .news-img{
		width: 25%;
		float: left;
	}
	.news-img img{
		width: 100%;
		height: 70px;
		border-radius:50%;
	}
	.new-item .news-detail{
		color: #039be5;
		width: 72%;
		margin-left: 5px;
		float: right;
	}
	/************* CSS content desktop *********/
	.image:hover .icon-p{display: block;}
	.image:hover{cursor: pointer;}
	.content-right1{
		width:65%;
		float: left;
		padding: 0 10px 0 5px;
		border-right: 1px solid #CDD0D2;
	}
	#content-right .description{
		display: block;
	}
	.content-right2{
		float: right;
		width:35%;
		padding: 5px 0 0 10px;
		color: #66A400;
	}
	.item-cr1{
		text-align: left !important;
		padding-top: 5px;
	}
	.price-service{display: block;}
	.item-cr1 .fa{
		width: 25px;
		color: black
	}
	
}

@media only screen and (min-width: 1280px){
	.container{
		width: 1200px !important;
		margin-left: auto !important;
		margin-right: auto !important;
	}
	.banner {
		width: 100%;
	}
	.header-fixed{
		background-color: #fff;
		position: fixed;
		border-bottom: 2px solid #00914E;
		width: 1200px;
		top:0;
		z-index: 3;
	}
	.wrapper-fcontent{
		width: 1200px;
		margin: 0 auto;
	}
	.list-banner{
		width: 1200px;
	}
	.list:nth-child(1){
		width: 24%;
	}
	.list:nth-child(1) .list-text::after{
		border-width: 5.7em;
		left: 18%;
		top:84%;
	}
	li.list.item2 > div > p{
		width: 160px;
	}
	a{font-size: 1em}
	.sign button {
    margin-left: 5px;
	}
	.list .list-text::after{
	    border-width: 3.9em;
	    border-top: 5.5em solid rgba(0, 233, 0, 0.5);
	}
}
