*{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-family: Helvetica Neue, Helvetica, Arial, sans-serif;
	-moz-box-sizing:border-box;
	-webkit-box-sizing:border-box;
}
body{
	background: url(../IMG/bg-img.jpg) repeat-y center center;
	width: 100%;
	height: 100%;
	margin: 0 auto;
	position: relative;
	background-color: white;
	font-size: 16px;
}
.clear{clear: both;}
.wrapper{
	width: 1200px;
	height: 100%;
	margin:auto;
}
.content-left{
	position: relative;
	width: 75%;
	float: left;
}
.slogan-img{
	opacity: 0;
	width: 450px;
	position: absolute;
    left: 18%;
    top: -5px;
    transition: opacity ease 1s 1.5s;
	animation: slogan-ani ease 1s 1.5s;
}
.slogan-text{
	opacity: 0;
	width: 450px;
	position: absolute;
    left: 19%;
    top: 45px;
    transition: opacity ease 1s 2s;
	animation: slogan-ani ease 1s 2s;
}
.logo1{
	position: absolute;
    top: 220px;
    left: 27%;
    width: 300px;
    height: 250px;
	opacity: 0;
	transition: opacity ease 2s 0.5s;
	animation: logo-ani ease 2s 0.5s;
}
.logo2{
	opacity: 0;
	position: absolute;
    top: 100px;
    left: 1%;
    width: 190px;
    height: 185px;
	transition: opacity ease 1s 3.5s;
	animation: logo-ani ease 1s 3.5s;
}
.logo3{
	position: absolute;
	opacity: 0;
	top: 350px;
    left: 5%;
    width: 200px;
    height: 190px;
	transition: opacity ease 1s 3s;
	animation: logo-ani ease 1s 3s;
}
.logo4{
	position: absolute;
	opacity: 0;
	top: 102px;
    left: 65%;
    width: 170px;
    height: 175px;
	transition: opacity ease 1s 3.5s;
	animation: logo-ani ease 1s 3.5s;
}
.logo5{
	position: absolute;
	opacity: 0;
	top: 460px;
    left: 33%;
    width: 185px;
    height: 185px;
	transition: opacity ease 1s 2.5s;
	animation: logo-ania ease 1s 2.5s;
}
.logo6{
	position: absolute;
	opacity: 0;
	top: 341px;
    left: 62%;
    width: 160px;
    height: 185px;
	transition: opacity ease 1s 3s;
	animation: logo-ani ease 1s 3s;
}
.item{
	width: 100%;
	height: 100%;
}
@keyframes slogan-ani{
		0% {
		    transform: translate(80px,0px);
		}
		100% {
		    transform: translate(0px,0px);
		}
	}
@keyframes logo-ania{
		0% {
		    transform: translate(0px,20px);
		}
		100% {
		    transform: translate(0px,0px);
		}
	}
	@keyframes logo-ani{
		0% {
		    transform: translate(0px,60px);
		}
		100% {
		    transform: translate(0px,0px);
		}
	}

.content-right{
	position: relative;
	opacity: 0;
	width: 25%;
	top: 50px;
	left: -3%;
	float: right;
	transition: opacity ease 1.5s 4.2s;
	animation: slogan-ani ease 1.5s 4.2s;
}