*{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-family: Helvetica Neue, Helvetica, Arial, sans-serif;
	-moz-box-sizing:border-box;
	-webkit-box-sizing:border-box;
}
body{
	background: url(../IMG/bg-img.jpg) repeat-y center center;
	width: 100%;
	height: 100%;
	margin: 0 auto;
	position: relative;
	background-color: white;
	font-size: 16px;
}
ul li{
	list-style-type: none;
}
button{
	background-color: transparent;
	border: none;
}
p{display: inline-block;}
.clear{clear: both;}
.wrapper{
	width: 1200px;
	height: 100%;
	margin:auto;
}
.content-left{
	position: relative;
	width: 72%;
	float: left;
}
.slogan-img{
	opacity: 0;
	width: 450px;
	position: absolute;
    left: 18%;
    top: 0px;
    transition: opacity ease 1s 1.5s;
	animation: slogan-ani ease 1s 1.5s;
}
.slogan-text{
	opacity: 0;
	width: 450px;
	position: absolute;
    left: 19%;
    top: 50px;
    transition: opacity ease 1s 2s;
	animation: slogan-ani ease 1s 2s;
}
.logo1{
	position: absolute;
    top: 220px;
    left: 27%;
    width: 300px;
    height: 250px;
	opacity: 0;
	transition: opacity ease 2s 0.5s;
	animation: logo-ani ease 2s 0.5s;
}
.logo2{
	opacity: 0;
	position: absolute;
    top: 100px;
    left: 1%;
    width: 190px;
    height: 185px;
	transition: opacity ease 1s 3.5s;
	animation: logo-ani ease 1s 3.5s;
}
.logo3{
	position: absolute;
	opacity: 0;
	top: 350px;
    left: 2%;
    width: 200px;
    height: 190px;
	transition: opacity ease 1s 3s;
	animation: logo-ani ease 1s 3s;
}
.logo4{
	position: absolute;
	opacity: 0;
	top: 102px;
    left: 67%;
    width: 170px;
    height: 175px;
	transition: opacity ease 1s 3.5s;
	animation: logo-ani ease 1s 3.5s;
}
.logo5{
	position: absolute;
	opacity: 0;
	top: 474px;
    left: 33%;
    width: 185px;
    height: 185px;
	transition: opacity ease 1s 2.5s;
	animation: logo-ania ease 1s 2.5s;
}
.logo6{
	position: absolute;
	opacity: 0;
	top: 341px;
    left: 64%;
    width: 160px;
    height: 185px;
	transition: opacity ease 1s 3s;
	animation: logo-ani ease 1s 3s;
}
.item{
	width: 100%;
	height: 100%;
}
@keyframes slogan-ani{
		0% {
		    transform: translate(80px,0px);
		}
		100% {
		    transform: translate(0px,0px);
		}
	}
@keyframes logo-ania{
		0% {
		    transform: translate(0px,10px);
		}
		100% {
		    transform: translate(0px,0px);
		}
	}
	@keyframes logo-ani{
		0% {
		    transform: translate(0px,60px);
		}
		100% {
		    transform: translate(0px,0px);
		}
	}

.content-right{
	position: relative;
	opacity: 0;
	width: 28%;
	top: 50px;
	left: -3%;
	float: right;
	transition: opacity ease 1.5s 4.2s;
	animation: slogan-ani ease 1.5s 4.2s;
}
.content-right img{
	position: absolute;
}

.icon-locale{
    border-radius: 50%;
	text-align: center;
    width: 28px;
    height: 28px;
    background-image: url(../IMG/locale.png);
    padding-top: 5px;
    color: white;
    float: left
}
.locale .locale-text{
	text-align: center;
	padding: 5px;
	float: right;
	color: white;
	font-size: 1.2em;
}
.hn{
    position: absolute;
    top: 94px;
    left: 35%;
    z-index: 5;
    padding-bottom: 13px;
}
.hn .locale-text{
	color: blue;
	font-size: 1.2em;
}
.dn{
	position: absolute;
    top: 280px;
    left: 67%;
    z-index: 5;
    padding-top: 20px;
}
.hcm{
    position: absolute;
    top: 458px;
    left: 50%;
    padding-top: 20px;
    z-index: 5;
    width: 165px;
}
.container-popover{
	width: 75%;
	height: 250px;
    position: absolute;
    z-index: 20;
    background: #fff;
    border: 1px solid #d4d5d5;
    border-radius: 10px;
    box-shadow: 5px 5px 10px #03325d;
    
}
.first{
	display: none;
	visibility: hidden;
    margin-top: 135px;
    margin-left: 3%;
}
.second{
	display: none;
	visibility: hidden;
    margin-top: 36px;
    margin-left: 26%;
}
.third{
	display: none;
	visibility: hidden;
	margin-top: 210px;
    margin-left: 17%;
}
.triangle_border{
	position: absolute;
	width: 20px;
	height: 13px;
	top: -13px;
	margin-left: 44.5%;
	background: url(../IMG/boder-top.png) no-repeat;
}
.text{
	width: 100px;
	margin: 15px 90px;
	font-size: 20px;
	color: #0558a4;
	line-height: 110%;
}
.second>.ppover>ul>li.text{
	margin: 15px 80px !important;
}
.second>.ppover>.triangle_border{
	background: url(../IMG/boder-bottom.png) no-repeat;
	top: 248px !important;
}
.third>.ppover>ul>li.text{
	width: 130px !important;
	margin: 15px 63px !important;
}
.third>.ppover>.triangle_border{
	background: url(../IMG/boder-bottom.png) no-repeat;
	top: 248px !important;
}
.ppover img{
	position: absolute;
    border: 1px solid #e2e2e2;
    width: 89%;
    top: 50px;
    left: 13px;
}
.view-more{
	position: absolute;
    font-size: 16px;
    color: #fff;
    bottom: 20px;
    left: 37px;
}
.view-more:hover{
	opacity: 0.6;
}
.view-more>div{
    width: 190%;
    margin: 10px 0 0 16.7%;
    background: #0558a4;
    border-radius: 4px;
    text-align: center;
    padding: 12px 0 12px 0;
    cursor: pointer;
}
.locale:hover{
	cursor: pointer;
}
.think1{
	position: absolute;
    top: -60px;
    left: -7px;
    width: 124px;
    height: 84px;
}
.think2{
	position: absolute;
    top: -52px;
    left: -20px;
    width: 124px;
    height: 84px;
}
.think3{
	position: absolute;
    top: -72px;
    left: 102px;
    width: 162px;
    height: 87px;
}
.think4{
	position: absolute;
    top: -16px;
    left: -71px;
    width: 124px;
    height: 84px;
}
.think5{
	position: absolute;
    top: -60px;
    left: 87px;
    width: 124px;
    height: 84px;
}
.nav-bar{
	background-color: rgba(255, 255, 255, 0.36);
    position: fixed;
    top: 190px;
    right: 2px;
    border-radius: 43px;
    padding: 25px 10px 10px;
    padding-left: 10px !important;
    opacity: 0;
    transition: opacity ease 1.3s 5s;
    animation: logo-ani ease 1.3s 5s;
}
.ico{
	margin-bottom: 20px;
	cursor: pointer;
}
.ico:hover {transform: scale(1.2);opacity: 0.8}
.ico img{
	width: 70px;
}
.wave{
	position: absolute;
	display: block;
	z-index: -1;
	width: 28px;
	height: 28px;
	border-radius: 50%;
	opacity:0;
	background-color: #3061AE;
	visibility: hidden;
	transition: opacity .3s, transform .3s, visibility 0s 1s;
	animation: wave-animation 1s cubic-bezier(0.24, 0, 0.38, 1) infinite;
}
.wave-hn{
	top: 0px;
    left: 0%;
}
.wave-dn{
	top: 21px;
	left: 0%;
}
.wave-hcm{
	top: 21px;
	left: 0%;
}
@keyframes wave-animation{
		0% {
			opacity:1;
    		transform: scale(1);
    		visibility: visible;
		}
 		 50% {
			opacity:0;
		    transform: scale(1.8);
		    visibility: hidden;
		}
		100% {
			opacity:0;
	    	transform: scale(1.8);
	    	visibility: visible;
		}
	}