html {
	overflow: auto;
}
body #wrapper {
	padding-top: 0;
	background-color: transparent !important;
}
body a, body a:hover, body a:focus {
	text-decoration: none;
	color: inherit;
}

body {
	font-family: 'Roboto', sans-serif;
	font-size: 14px;
}

@media screen and (min-width: 1360px) {
	body #banner .container, body #navigation .container, body #footer .container {
		padding-left: 0;
		padding-right: 0;
		max-width: 1300px;
		margin: auto;
	}
}



/*---------- Header ----------*/
#banner {
	background: url("../images/bg-header-1920.png") left center no-repeat;
	background-size: auto 100%;
	padding: 10px 0;
}
#banner .container {
	padding: 0 15px;
	position: relative;
}
#banner img {
	max-width: 100%;
	display: block;
}

/*.signed-out #app_login {
	display: none;
}*/

@media screen and (max-width: 1366px) {
	#banner {
		background: url("../images/bg-header-1366.png") left center no-repeat;
	}
}



/*---------- Footer ----------*/
#footer {
	background-color: #903938;
	padding: 10px 0;
	color: white;
}
#footer .divide {
	margin: 0 5px;
}
#footer .container {
	display: -webkit-box;
	display: flex;
	-webkit-justify-content: center;
    justify-content: center;
	padding: 0 15px;
}
#footer p {
	margin-bottom: 0;
}

@media screen and (max-width: 1263px) {
	#footer .container {
		max-width: 100%;
		-webkit-flex-wrap: wrap;
		flex-wrap: wrap;
	}
}

@media screen and (max-width: 1150px) {
	#footer .divide {
		display: none;
	}
	#footer p {
		width: 100%;
	}
	#footer p:not(:first-child) {
		margin-top: 5px;
	}
	#footer .owner {
		width: 100%;
	}
}



/*---------- Navbar ----------*/
#navigation {
	background-color: #faf4f1;
	position: relative;
}
#navigation ul {
	display: flex;
	list-style: none;
	margin-bottom: 0;
	overflow: hidden;
	margin: auto;
	padding: 0;
}
#navigation li a {
	padding: 10px 15px;
	display: block;
	color: #903938;
	position: relative;
	text-transform: uppercase;
}
#navigation li:hover a, #navigation li.selected a {
	color: #903938;
}
#navigation li:hover a:before, #navigation li.selected a:before {
	content: "";
	position: absolute;
	bottom: 0;
	left: 0;
	width: 100%;
	height: 5px;
	background-color: #903938;
}
#navigation li.selected a {
	font-weight: bold;
}
#navigation .child-menu {
	display: none;
}
#navigation .nav-toggle {
	display: none;
	border: 1px solid #903938;
	color: #903938;
	padding: 3px 12px;
	border-radius: 4px;
	font-weight: normal;
	float: right;
	position: relative;
	z-index: 5;
	margin: 10px 15px;
}
.custom-link, .signed-in .custom-link {
	display: none;
}

@media screen and (min-width: 992px) and (max-width: 1366px) {
	#navigation li a {
		padding: 10px 12px;
	}
}

@media screen and (max-width: 991px) {
	#navigation {
		min-height: 48px;
	}
	#navigation .nav-toggle {
		display: inline-block;
	}
	.mBody #navigation > ul {
		display: none;
		width: 100%;
		position: absolute;
		background-color: #faf4f1;
		left: 0;
		top: 100%;
		border: 1px solid #ccc;
		padding: 0;
		max-height: 200px;
		overflow: auto;
		z-index: 5;
	}
	#navigation .custom-link {
		padding: 0;
	}
	#navigation .custom-link a {
		border: 0;
	}
	.custom-link {
		display: block;
	}
	.signed-out #react-root {
		display: none;
	}
}



/*---------- BTT & BTH ----------*/
body .btt, body .bth {
	position: fixed;
	bottom: 100px;
	right: 30px;
	background-color: #CE7A58;
	width: 42px;
	height: 42px;
	border-radius: 50%;
	text-align: center;
	line-height: 40px;
	display: none;
	color: white;
	font-size: 24px;
}
body .btt.btt-is-visible, body .bth.btt-is-visible {
	display: block;
}
body .btt:hover, body .bth:hover {
	background-color: #CE7A58;
	color: white !important;
}
body .bth {
	right: auto;
	left: 30px;
}



/*---------- Login ----------*/