body{
	width: 1360px;
	height: 760px;
	margin: 0 auto;
	position: relative;
	background-image: url(../IMG/wallpaper2.jpg);
	background-repeat: no-repeat;
	background-position: center center;
}
#wrapper{
	margin: 150px auto;
	width: 900px;
	height: 620px;
}
.start:hover{
	cursor: pointer;
}
