body{
	width: 1360px;
	height: 760px;
	margin: 0 auto;
	position: relative;
	background-image: url(../IMG/wallpaper4_1.jpg);
	background-repeat: no-repeat;
	background-position: center center;
}
img{
	vertical-align: middle;
	max-width: 150px;
	height: 190px;
}

#wrapper{
	margin: 150px auto;
	width: 900px;
	height: 620px;
}
.start img{
	width: 128px;
	height: 128px;
}
.start{
	position: absolute;
	top: 245px;
	left: 612px;
	display: block;
	z-index: 5;
}
.start:hover{
	cursor: pointer;
	transform: scale(1.2);
}
.card{
	position: relative;
	max-width: 150px;
	height: 190px;
	float: left;
	margin: 8px;
	opacity: 0.6;
}
.card:hover{
	box-shadow: 0 0 40px rgb(66, 210, 97);
}
.card .back-card{
	position: absolute;
	top: 0;
	left: 0;
	transform: rotateY(180deg);
}
.card .back-card, .card .front-card {
	cursor: pointer;
	transition: all 0.5s;
	backface-visibility: hidden;
	-webkit-backface-visibility: hidden;
}
